@using ExaminationSystem.Core.Features.Subject.Queries.Dtos
@using ExaminationSystem.Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model IReadOnlyList<GetSubjectDto>

@{
    ViewData["Title"] = "GetAllSubjectsForTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //TempData["TeacherId"] = userManager.GetUserId(User).ToString();
}

<h1>Your Subjects</h1>

<a asp-action="AddSubject" class="btn btn-primary">Create New Subject</a>
<br />
<br />


@if (Model?.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x[0].Code) </th>
                <th>@Html.DisplayNameFor(x => x[0].Name) </th>
                <th>Exams</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                  
                    <td>
                        <a class="btn btn-success" asp-controller="Subject" asp-action="Exams" asp-route-SubjectId="@item.Id" asp-route-TeacherId="@userManager.GetUserId(User)">
                            <i class="fas fa-eye"></i> Exams
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Subject" asp-action="Update" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i> Update
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Subject" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i> Delete
                        </a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h3>No Subjects Found!!</h3>
    </div>
}