@using ExaminationSystem.Core.Features.User.Commands.Models
@model SignInCommandDto
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/Register/style.css">
</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="\Images\Register&SignIn images\signin-image.jpg" alt="sing up image"></figure>
                        <a asp-action="Register" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label asp-for="@Model.Email"  for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="@Model.Email" type="email" name="email" id="email" placeholder="Email" required="" />
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Password" for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="@Model.Password" type="password" name="password" id="password" placeholder="Password" required="" />
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.RememberMe" type="checkbox" name="RememberMe" id="RememberMe" class="agree-term" />
                                <label asp-for="@Model.RememberMe for=" RememberMe" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                            </div>
                        </form>
                      
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="\lib\jquery\"></script>
    <script src="/js/site.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>